{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGarden-Login</title>
    <link rel="stylesheet"  href= "{% static 'css/style_div.css' %}"> 
</head>

<body>
   
    <Div>
    <h1 style="color:white ;text-align: center;">Login Page</h1>

    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td style="height:10px ;"></td>
        </tr>
        
        <tr>
            <td style="color:white ; font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">User Name</td>
            <td></td>
            <td><input type="text"; placeholder="Name" ></td>
        </tr>

        <tr>
            <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Enter Password</td>
            <td></td>
            <td><input type="password" placeholder="Password"></td>
        </tr>
        
        <tr>
            <td style="height:10px ;"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="button" value="Login" width="200px">
            <input type="button" value="Sign up" ></td>
            
        </tr>
    </table>
    </Div>
</body>
</html>