{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGarden-Signup</title>
    <link rel="stylesheet"  href= "{% static 'css/style_div.css' %}"> 
    
</head>
<body>
    <Div>
        <h1 style="color:white ;text-align: center;">Signup Page</h1>
    
        <table width="600px">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td style="height:10px ;"></td>
            </tr>
            
            <tr>
                <td style="color:white ; font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">First Name</td>
                <td></td>
                <td><input type="text"; placeholder="First Name" ></td>
            </tr>
    
            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Last Name</td>
                <td></td>
                <td><input type="text"; placeholder="Last Name"></td>
            </tr>
            
            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Mobile Number</td>
                <td></td>
                <td><input type="text"; placeholder="Mobile Number"></td>
            </tr>

            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Email</td>
                <td></td>
                <td><input type="text"; placeholder="Email"></td>
            </tr>

            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Address</td>
                <td></td>
                <td><input type="text"; placeholder="Address"></td>
            </tr>

            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">City</td>
                <td></td>
                <td><input type="text"; placeholder="City"></td>
            </tr>

            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Land Mark</td>
                <td></td>
                <td><input type="text"; placeholder="Land Mark"></td>
            </tr>

            <tr>
                <td style="color:white ;font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Pin Code</td>
                <td></td>
                <td><input type="text"; placeholder="Pin Code"></td>
            </tr>


            <tr>
                <td style="height:10px ;"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" value="Update" width="200px">
                <input type="button" value="Save" width="200px">
                <input type="button" value="Cancel" width="200px">
                </td>
                
            </tr>
        </table>
        </Div>
</body>
</html>